.tasklist_block {
    background-color: white;
    border-radius: 4px;
    min-width: 550px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 6px 12px;
}

.tasklist_item {
    background-color: #a3d2ca50;
    border-radius: 4px;
    margin: 8px 24px;
    padding: 0px 24px;
}

.tasklist_item * {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.task_form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

input {
    height: 28px;
    border: solid 2px #A3D2CA;
    border-radius: 4px;
    outline: none;
    transition: ease 0.2s;
}

input:focus {
    border: solid 2px #86ada6;
}

.valid_btn:hover {
    transform: rotate(90deg);
    background-color: #7ebb68;
}

.additem-enter {
    opacity: 0;
    transform:translateY(100%);
}

.additem-enter-active {
    opacity: 1;
    transform:translateY(0);
    transition: opacity 300ms, transform 300ms;
}

.additem-exit {
    opacity: 1;
    transform:translateY(0);
}
.additem-exit-active {
    opacity: 0;
    transform:translateY(-100%);
    transition: opacity 300ms, transform 300ms;
}

.edititem-enter {
    opacity: 0;
    transform:translateY(100%);
}

.edititem-enter-active {
    opacity: 1;
    transform:translateY(0);
    transition: opacity 300ms, transform 300ms;
}
.edititem-exit {
    opacity: 1;
    transform:translateY(0);
}
.edititem-exit-active {
    opacity: 0;
    transform:translateY(-100%);
    transition: opacity 300ms, transform 300ms;
}